---
import BaseHeader from './BaseHeader.astro';
---

<body class="bg-white dark:bg-slate-900 pb-2 md:pb-0 text-base lg:text-lg">
    <div
        class="flex flex-col min-h-screen px-4 sm:px-6 md:px-10 lg:px-16 max-w-7xl mx-auto"
    >
        <BaseHeader />

        <main class="max-w-full mx-auto">
            <slot />
        </main>
    </div>
</body>
