<section
    class="flex flex-row self-center prose dark:prose-invert sm:prose-sm md:prose-lg lg:prose-xl"
>
    <div
        class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-800/5 shadow-xl"
    >
        <slot />
    </div>
</section>
