---
import BaseIcon from "./BaseIcon.astro";
export interface Props {
  href: string;
  leaveWebsite?: boolean;
}

const { href, leaveWebsite } = Astro.props;
---

<a
  href={href}
  class="text-primary hover:text-secondary hover:underline font-medium inline-flex items-center"
>
  <slot />
  {
    leaveWebsite && (
      <div class="pl-1">
        <BaseIcon name="akar-icons:link-out" size="s" />
      </div>
    )
  }
</a>
