<section
    class="flex flex-row self-center prose dark:prose-invert sm:prose-sm md:prose-lg lg:prose-xl"
>
    <div
        class="max-w-full bg-white dark:bg-slate-800 rounded-lg py-4 px-3 md:py-8 md:px-6 ring-1 ring-slate-800/5 shadow-xl"
    >
        <slot />
    </div>
</section>
