---
import ColorThemeSwitch from '../ColorThemeSwitch';
import BaseLink from './BaseLink.astro';
---

<header class="flex flex-col max-w-none w-full">
    <nav
        class="relative mx-auto flex w-full max-w-4xl items-center justify-between py-4 text-gray-900 sm:pb-6"
    >
        <div class="flex space-x-5 text-base text-base lg:text-lg ">
            <BaseLink href="/">Home</BaseLink>
            <BaseLink href="/notes">Notes</BaseLink>
            <BaseLink href="/writing">Writing</BaseLink>
        </div>

        <div>
            <ColorThemeSwitch client:idle />
        </div>
    </nav>
</header>
