---
import { Markdown } from 'astro/components';
import NotePost from '../../components/NotePost.astro';
import Layout from '../../layouts/NotePost.astro';
let title: 'Array.from second parameter';
let publishDate: '27 jan 2022';

// Data Fetching: List all Markdown posts in the repo.

let allNotes = await Astro.fetchContent('../../components/notes/*.md');
allNotes = allNotes.sort(
    (a, b) =>
        new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf(),
);
---

<Layout>
    <section aria-label="Blog post list">
        {allNotes.map((post) => <NotePost {post}/>)}
    </section>
</Layout>
