---
import NotePost from '../../components/NotePost.astro';
import BaseHead from '../../layouts/BaseHead.astro';
import BaseBody from '../../layouts/BaseBody.astro';

const title = 'prastoin | Today I learned';
const description = 'Everything I learn everyday';
const permalink = 'https://example.com'; //TODO update ?

// Data Fetching: List all Markdown posts in the repo.
let allNotes = Astro.fetchContent('../../components/notes/*.md');
allNotes = allNotes.sort(
    (a, b) =>
        new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf(),
);
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {permalink} />
    </head>

    <BaseBody>
        <main
            class="mx-auto prose dark:prose-invert sm:prose-md md:prose-lg lg:prose-xl"
        >
            <h1>Today I learned</h1>
            <section aria-label="Blog post list">
                {allNotes.map((post) => <NotePost {post}/>)}
            </section>
        </main>
    </BaseBody>
</html>
