---
import { CollectionEntry } from "astro:content";
import BaseProse from "../kit/BaseProse.astro";
import BaseSection from "../kit/BaseSection.astro";
import BasePageHeading from "../kit/BasePageHeading.astro";
export interface Props {
  frontmatter: CollectionEntry<"writings">["data"];
}

const { title, publishDate } = Astro.props.frontmatter;
---

<BaseSection>
  <article class="max-w-prose">
    <header class="mb-4 font-bold text-primary">
      <BasePageHeading>
        {title}
      </BasePageHeading>
      <span class="italic">{publishDate}</span>
    </header>

    <BaseProse>
      <slot />
    </BaseProse>
  </article>
</BaseSection>
