---
// Component Imports
import BaseHead from '../components/kit/BaseHead.astro';
import BaseBody from '../components/kit/BaseBody.astro';

// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'prastoin | home';
const description = 'Welcome to my devblog home !';
const permalink = 'https://example.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {permalink} />
    </head>

    <BaseBody>
        <main
            class="max-w flex flex-row self-center prose dark:prose-invert sm:prose-sm md:prose-lg lg:prose-xl"
        >
            Welcome Home
        </main>
    </BaseBody>
</html>
