---
// Component Imports
import BaseHead from '../components/kit/BaseHead.astro';
import BaseBody from '../components/kit/BaseBody.astro';
import '../styles/global.css';

// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Paul Rastoin | home';
const description = 'Welcome to my devblog home !';
const permalink = 'https://example.com/';
const randomImageIndex = Math.round(Math.random() * (2 - 0) + 0);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} permalink={permalink} />
    </head>

    <BaseBody>
        <div class="flex flex-col self-center">
            <nav class="flex flex-row w-full items-center my-3">
                <a
                    href="/"
                    class="relative flex flex-col items-center w-full hover:no-underline"
                >
                    <!-- TODO create svg nor image -->
                    <h2 class="text-5xl my-2">Paul</h2>
                    <h2 class="text-secondary text-5xl my-2">Rastoin</h2>
                    <img
                        class="absolute -z-50 top-50 left-50 translate-y-1/6 max-h-full	"
                        src={`/assets/olive_branch_${randomImageIndex}.png`}
                        alt="olive branch image"
                    />
                </a>
            </nav>
        
        </div>
        <main
            class="max-w flex flex-row self-center prose dark:prose-invert sm:prose-sm md:prose-lg lg:prose-xl"
        >
            Welcome Home
        </main>
    </BaseBody>
</html>
