---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'prastoin';
let description = 'description';
let permalink = 'https://example.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        {/*// @ts-ignore */}
        <BaseHead {permalink} {description} {title} />
    </head>

    <body>
        <BlogHeader />

        <main>
            <div class="flex flex-row  w-full justify-evenly">
                <span>OUIOUI</span>
                <span>NONNON</span>
            </div>
        </main>
    </body>
</html>
