---
// Component Imports
import BaseHead from '../layouts/BaseHead.astro';
import BaseBody from '../layouts/BaseBody.astro';
import ColorThemeSwitch from '../components/ColorThemeSwitch.tsx';
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'prastoin | home';
const description = 'Welcome to my devblog home !';
const permalink = 'https://example.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {permalink} />
    </head>

    <BaseBody>
        <main>
            <div
                class="flex flex-row self-center prose sm:prose-sm md:prose-lg lg:prose-xl"
            >
                <div
                    class="bg-white dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl"
                >
                    <div>
                        <span
                            class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg"
                        >
                            <svg
                                class="h-6 w-6 text-white"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                aria-hidden="true"><!-- ... --></svg
                            >
                        </span>
                    </div>
                    <h3
                        class="text-slate-900 dark:text-white mt-5 text-base font-medium tracking-tight"
                    >
                        Writes Upside-Down
                    </h3>
                    <p class="text-slate-500 dark:text-slate-400 mt-2 text-sm">
                        The Zero Gravity Pen can be used to write in any
                        orientation, including upside-down. It even works in
                        outer space.
                    </p>
                </div>
            </div>
        </main>
    </BaseBody>
</html>
