---
import ColorThemeSwitch from '../components/ColorThemeSwitch.tsx';
---

<header class="flex flex-row justify-between prose dark:prose-invert">
    <a href="/" class="flex items-center flex-row mr-1">
        <img />
        <div class="w-20 h-24 bg-green-400 text-center">LOGO</div>
    </a>

    <a href="/notes" class="flex items-center flex-row">
        <span>Notes</span>
    </a>

    <ColorThemeSwitch client:idle />
</header>
