<header class="flex flex-row justify-between">
    <h1>
        <a href="/" class="flex items-center flex-row">
            <img
                width="80"
                height="100"
                src="/assets/logo.png"
                alt="devblog logo"
            />
            <span>home</span>
        </a>
    </h1>

    <div>
        <a href="/notes">
            <span>Notes</span>
        </a>
    </div>
</header>
