---
export interface Props {
	post: any;
}

const { post  } = Astro.props;
const {title, publishDate} = post
const { html } = post.content
---
    
<div class="layout">
    <article class="mb-16">
        <hr />
        <p>
        <h2 class="text-red-800">{title}</h2>
        <span>{publishDate}</span>
        </p>
        {html}
        <hr />
    </article>
</div>
