---
export interface Props {
	post: any;
}
import BaseSection from "./kit/BaseSection.astro"

const { post  } = Astro.props;
const {title, publishDate} = post
const { html } = post.content
---
<>
    <hr />
    <BaseSection>
        <article>
            <p class="prose dark:prose-invert">
                <h3 class="text-red-800">{title}</h3>
                <span>{publishDate}</span>
            </p>
            <Fragment set:html={html}>
            </Fragment>
        </article>
    </BaseSection>
</>
