---
import { CollectionEntry } from "astro:content";
import BaseElementHeading from "../kit/BaseElementHeading.astro";
import BaseProseSection from "../kit/BaseProseSection.astro";
import BaseSection from "../kit/BaseSection.astro";
export interface Props {
  frontmatter: CollectionEntry<"notes">["data"];
}

const { publishDate, title } = Astro.props.frontmatter;
---

<BaseSection>
  <article>
    <header class="mb-4 font-bold text-primary">
      <BaseElementHeading>
        {title}
      </BaseElementHeading>
      <span class="italic">{publishDate}</span>
    </header>

    <BaseProseSection>
      <slot />
    </BaseProseSection>
  </article>
</BaseSection>
