---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';

const { content } = Astro.props;
const title = 'TIL';
const description = 'Everything I learn everyday';
const permalink = 'https://example.com';
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {permalink} />
    </head>

    <body class="flex flex-col min-h-screen px-64">
        <BlogHeader />
        <main>
            <h1>Today I learned</h1>
            <slot />
        </main>
    </body>
</html>
